@charset "utf-8";

body {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
  box-sizing: border-box;
}

#room {
  width: 100%;
  min-height: 100vh;
  overflow: scroll;
  background-color: royalblue;
}

#output {
  background-color: rgb(113, 147, 193);
}